@mixin styles {

    .nav_toggle {
        position: fixed;
        top: 1.2rem;
        right: 1.25rem;
        width: 2.75rem;
        height: 2.75rem;
        border: none;
        color: var(--color-nav-link);
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 50%;
        border: 0.25rem solid var(--color-text);
        background-color: transparent;
        background-color: var(--color-page-bg);

        svg {
            position: relative;
            top: -0.25rem;
            left: -0.125rem;
            text-align: center;
            max-width: 120%;
        }

        .line {
            transform-box: fill-box;
            transform-origin: center;
            transition: transform 150ms ease, opacity 150ms linear, color 150ms linear;
        }
 
        &[aria-expanded="true"] .top {
            transform: translateY(20px) rotate(45deg);
        }

        &[aria-expanded="true"] .middle {
            opacity: 0;
        }

        &[aria-expanded="true"] .bottom {
            transform: translateY(-20px) rotate(-45deg);
            svg {
                .line {
                    fill: var(--color-page-bg);
                }
            }
        }

        &[aria-expanded="true"] {
            color: var(--color-page-bg);
            border-color: var(--color-page-bg);
            background-color: var(--color-text);

            .top,
            .bottom {
                fill: var(--color-page-bg);
            }

            svg {
                path { 
                    fill: var(--color-page-bg);
                }
            }
        }
    }
}
