@use './menu-toggle';
@use '@tokens/breakpoints';
@use '@tokens/colors';
@use '@mixins/visibility';



nav-menu {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @include menu-toggle.styles;

    nav {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: -100%;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        transition-property: right;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;
        padding: 6rem 2rem 2rem 2rem;
        background-color: rgba( colors.$c_text, 0.95);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 2px;

            li {
                margin: 0;
                margin-bottom: 2px;
                display: flex;
                flex-direction: column;
                background-color: var( --color-subnav-link);

                a {
                    font-size: 2rem;
                    padding: 0 0 0 4rem;
                }
            }
        }

        > ul > li {
            position: relative;
            display: block;
            flex-direction: column;

            a,
            a:visited {
                display: block;
                text-decoration: none;
                font-family: var(--font-impact-label-reversed), monospace;
                color: var(--color-page-bg);
                background-color: var(--color-nav-link);
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 3.5rem;

                &:hover,
                &:focus {
                    background-color: var(--color-nav-link-hover);
                    color: var(--color-page-bg);
                }
            }

            a:first-of-type {
                padding-left: 1rem;
                padding-right: 3rem;
            }

            /* ## submenus */
            &:hover,
            &:focus {

                > a,
                > a:visited {
                    background-color: var(--color-nav-link-hover);
                    color: var(--color-page-bg);
                }

                button {
                    background-color: var(--color-nav-link-hover);
                    border-color: var(--color-nav-link-hover);
                }
            }

            > a:first-of-type {
                width: 100%;
                padding: 0.25rem 2rem 0.25rem 1rem;
                margin-bottom: 2px;
            }

            > .subnav__toggle {
                position: absolute;
                right: 0;
                top: 0;
                padding-top: 0.15rem;
                width: 2rem;
                height: 100%;
                border-bottom: none;
                background-color: transparent;
                padding: 0;

                svg {
                    position: relative;
                    width: 0.5rem;
                    top: 0;
                    right: 0rem;
                    transform: rotate3d(1, 0, 0, 0deg);
                    transition-property: transform;
                    transition-duration: 0.25s;
                    transition-timing-function: ease-in-out;

                    path {
                        fill: var(--color-page-bg);
                    }
                }
            }

            > .subnav__toggle[aria-expanded="true"] svg {
                transform: rotate3d(1, 0, 0, 180deg);
            }

            > .subnav__toggle + ul {
                display: none;
                background-color: var(--color-page-bg);
            }

            > .subnav__toggle[aria-expanded="true"] + ul {
                display: block;
            }
        }

        &.active{
            right: 0;
        }
    }

    @media (min-width: breakpoints.get-breakpoint(sm)) {
        position: static;

        .nav_toggle {
            @include visibility.sr-only();
        }

        nav {
            position: static;
            left: auto;
            right: auto;
            display: block;
            height: auto;
            padding: 0;
            background-color: transparent;
            overflow: visible;
            margin-bottom: 1rem;

            > ul {
                margin: 0 auto;
                display: inline-flex;
                flex-wrap: wrap;
                overflow: visible;
                gap: 0.5rem;
                row-gap: 0.075rem;

                > li {
                    display: block;
                    position: relative;
                    flex-direction: row;

                    a {
                        font-size: 1.5rem;
                    }

                    >.subnav__toggle + ul {
                        display: none;
                        width: max-content;
                        min-width: 300px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 10;
                        li {
                            display: block;
                            line-height: 1;
                        }
                    }

                    &:hover>.subnav__toggle + ul,
                    &:focus-within>.subnav__toggle + ul,
                    >.subnav__toggle[aria-expanded="true"] + ul {
                        display: block;
                        opacity: 1;
                        transform: translateY(0);
                        transition: opacity 0.2s ease, transform 0.2s ease;

                        @starting-style {
                            opacity: 0;
                            transform: translateY(-0.25rem);
                        }
                    }
                }
                
            }
        }
        // hide link to home off screen
        // we link it to the logo
        // still good for a11y and SEO
        li.homepage {
            position: fixed;
            top: 100vh;
            left: 100vw;
        }
    }

    @media (min-width: breakpoints.get-breakpoint(lg)) {

        .logo {
                width: 128px;
                height: 128px;
        }
        nav {
            > ul {
                gap: 1rem;
            }
        }
    }

}

nav .search__toggle {

    // @include visibility.sr-only();
    
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 2rem;
    height: 2rem;
    svg {
        width: 100%;
        height: 100%;
        path {
            fill: var(--page-bg);
        }
    }
    @media (min-width: breakpoints.get-breakpoint(md)) {
        display: block;
    }
}

.search__field {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 1rem;
    white-space: nowrap;
    min-width: fit-content;


    #search-query {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        font-size: 1rem;
        border: none;
        background-color: var(--color-page-bg);
        color: var(--color-text);
    }

    @media (min-width: breakpoints.get-breakpoint(sm)) {
        position: absolute;
        top: -12rem;
        padding: 2rem;
        z-index: 105;
        left: 0;
        width: 100vw;
        background-color: rgba( colors.$c_text, 0.95);
        transition-property: top;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;
        #search-query {
            width: auto;
        }
        &[aria-expanded="true"] {
            top: 0;
        }
    }
}

