@use '@tokens/breakpoints';
@use '@mixins/layout';

.filter-container {
    background-color: #efefef;
}

.filters {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eee;
    z-index: 150;
    height: 100vh;
    @include layout.max-width();
    align-items: flex-start;

    >div {
        left: -100vw;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    h2 {
        width: 100%;
        display: block;
        font-size: 0.875rem;
        color: #999;
    }

    .filter-group {

        select,
        input {
            padding: 0.25rem;
            border: 1px solid #ccc;
            border-radius: 2px;
        }

        >label {
            display: block;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
        }
    }

    .date-range {

        label {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            background-color: #eee
        }

    }

    button {
        display: inline-block;
        padding: 0.5rem;
        margin-top: 1rem;
    }

    @media screen and (min-width: breakpoints.get-breakpoint(sm)) {
        >div {
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            justify-content: space-evenly;
        }
    }

    @media screen and (min-width: breakpoints.get-breakpoint(md)) {
        position: static;
        height: auto;

        >div {
            gap: 2rem;
            display: block;
        }

        .filter-group {
            display: inline-block;
        }
    }

    .nav_toggle {
        background: none;
        border: none;
        cursor: pointer;
    }
}