@use "@tokens/colors";
@use "@tokens/breakpoints";

$teaser_bg: #eee;

.events.teaser {
    overflow: hidden;
    background-color: #ffbaba;
    position: relative;
    aspect-ratio: 3 / 4;

    .content {
        position: absolute;
        top: 3rem;
        left: 5rem;
        @media screen and (min-width: breakpoints.get-breakpoint(sm) ) and (max-width: breakpoints.get-breakpoint(lg)) {
            top: 3rem;
            max-width: 100%;
        }
    }

    time {
        display: inline;
        position: relative;
        box-sizing: border-box;
        max-width: max-content;
        margin-bottom: 1rem;
        padding: 0.25rem 0rem 0.25rem 0rem;
        transform: rotate3d( 0, 0, 1, -15deg);
        color: var(--color-text);
        background-color: #ffbaba;
        font-family: "Geist Mono", monospace;
        font-family: var(--font-impact-label);
        font-size: 1.5rem;
        line-height: 1.325;

    }

    h3 {
        margin-top: 1rem;
        display: inline-block;
        font-family: "Geist Mono", monospace;
        font-size: 16px;
        background-color: $teaser_bg;
        color: var(--color-text);
        background-color: #ffbaba;
        padding: 1rem 1rem 1rem 0;
        font-weight: 400;
    }

    a {
        height: 100%;
        display: block;
        text-decoration: none;
        overflow: hidden;
        font-size: 1rem;
        border: 0.5rem solid $teaser_bg;
        transition-property: box-shadow, border, color, mix-blend-mode;
        transition-duration: 0.175s;
        transition-timing-function: ease-out;
        color: inherit;    
        box-shadow: 0.12rem 0.12rem 0.25rem rgba(0, 0, 0, 0.3);


        img {
            object-fit: cover;
            object-position: top;
            opacity: 0.35;
            display: block;
            width: 100%;
            height: 100%;
            mix-blend-mode: multiply;
        }

        &:focus,
        &:hover {
            border: 1rem solid var( --color-text);
            box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.8);

            time {
                color: var(--color-text);
                background-color: white; //var(--color-link);
                background-color: #ffbaba;
            }

            h3 {
                background-color: var(--color-text);
                color: $teaser_bg;
                background-color: var(--color-text);
            }

            img {
                opacity: 0.95;
                mix-blend-mode:hard-light;//luminosity;
            }
        }
    }

    &.past {
        background-color: #dedede;
    }

    @media (min-width: breakpoints.get-breakpoint(md)) {
        aspect-ratio: 3 / 4;
        .content {
            left: 2rem;
            transform: rotate(-7deg);
        }

        a {
            border-width: 0rem;
            aside & {
                border-width: 0rem;
                .content {
                    left: 0;
                }
            } 
        }

        time {
            font-size: 1.5rem;
        }

        h3 {
            padding-left: 0.5rem;
        }

    }
}