$c_text: #222;
$c_page_bg: #fafafa;
$c_link: #cd1c12;
$c_accent-secondary: #009a0a;
$c_subnav_link:  color-mix(in oklch, $c_link, black 25%);
$c_panel: #fffef3;
$c_ui_bg: #eee;

:root {

    --color-page-bg: #{$c_page_bg};
    --color-text: #{$c_text};
    --color-link: #{$c_link};
    --color-accent: #{$c_link};
    --color-accent-secondary: #{$c_accent-secondary};
    --color-panel: #{$c_panel};
    --color-panel-bg: #ececec;
    --color-menu-submenu-bg: rgba(#000, 0.9);
    --color-nav-link: #{$c_link};
    --color-nav-bg: transparent;
    --color-nav-link-hover: #222;
    --color-subnav-link: #{$c_subnav_link};
    --color-footer-bg: #{$c_text};
    --color-footer-link: #{$c_link};
    --color-ui-bg: #{$c_ui_bg};

}