@use "@tokens/breakpoints";

.site-header {
    display: flex;
    gap: 1rem;
    text-align: center;
    padding: 1rem;

    a.logo {
        display: inline-block;
        text-decoration: none;
        aspect-ratio: 10/8;
        width: 72px;
        &:hover {
            color: #090;
        }
        img {
            width: 72px;
            display: block;
            aspect-ratio: 10/8;
            object-fit: cover;
        }
    }

    @media (min-width: breakpoints.get-breakpoint(lg)) {
        padding: 2rem;
        a.logo {
            width: 128px;
            img {
                width: 128px;
            }
        }
    }
}